.test1{
    border: 1px solid #000;
    width: 300px;
}
.test2{
    border: 1px solid #000;
    width: 270px;
    height: 70px;
    margin: 15px;
    text-align: right;
    line-height: 65px;
    padding-right: 5px;
    box-sizing: border-box;
}
.test3{
    border: 1px solid #000;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 65px;
}
.container{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom : 15px;
    gap: 8px;
}